html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 14px);
    font-weight: var(--text-weight-main, 400);

    line-height: var(--text-line-height-main, 18px);

    background-color: var(--background-color-main, #FFFFFF);

    scrollbar-width: thin;
}

.hidden {
    display: none !important;
}


.main__wrapper {
    width: 100%;
    max-width: var(--wrapper-width, 1600px);
    padding: 40px 0 0;
    margin: 0 auto 60px;

    color: var(--text-color-main, #000000);

    text-align: left;
}

@media (max-width: 1600px) {
    .main__wrapper {
        padding: 92px 40px 0;
    }
}

@media (max-width: 768px) {
    .main__wrapper {
        padding: 70px 14px 0;
        margin-bottom: 40px;
    }
}
