.card-product {
    position: relative;
    display: block;
    width: 100%;
    max-width: 324px;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-product, 16px);
    font-weight: var(--text-weight-bold, 700);

    line-height: var(--text-line-height-large, 24px);
}

.hidden {
    display: none !important;
}

.card-product__image {
    position: relative;

    background-color: var(--white, #FFFFFF);
}

.card-product__image-img {
    width: 100%;
    height: auto;

    border-radius: var(--border-radius-card, 14px);
}

.card-product__buttons {
    position: absolute;
    display: block;
    top: 14px;
    right: 0;

    opacity: 0;

    transition: top 0.3s ease, opacity 0.3s ease;
}

.card-product__button {
    margin-right: 10px;
    margin-bottom: 5px;
}

.card-product__button:last-child {
    margin-right: 0;
}

.card-product__content {
    padding: 15px 20px 17px 10px;

    background-color: var(--white, #FFFFFF);
}

.card-product__title {
    margin: 0;
}

.card-product__description {
    margin: 2px 0;

    color: var(--gray, #656565);
    font-size: var(--text-size-main, 14px);
    font-weight: var(--text-weight-main, 400);

    line-height: var(--text-line-height-main, 18px);
}

.card-product__rating {
    display: flex;
}

.card-product__rating-stars {
    margin-right: 8px;

    white-space: nowrap;
}

.card-product__rating-star {
    display: inline-block;
    width: 14px;
    height: 14px;
    
    background-image: url("../images/star.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.card-product__rating-star_blank {
    background-image: url("../images/star-blank.svg");
}

.card-product__rating-reviews {
    margin-top: 3px;

    color: var(--black, #000000);
    font-size: var(--text-size-main, 14px);
    font-weight: var(--text-weight-main, 400);

    line-height: 16px;
}

.card-product__price {
    margin-top: 5px;

    font-weight: var(--text-weight-main, 400);
}

.card-product__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-product:hover .card-product__buttons {
    top: 10px;

    opacity: 1;
}